name: Generate and Release .luacheckrc

on:
  workflow_dispatch:
  schedule:
    - cron: 0 1 * * *

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set variables
        run: |
          echo "TAG_NAME=$(date +%Y%m%d%H%M)" >> $GITHUB_ENV
          echo "RELEASE_NAME=$(date +%Y%m%d%H%M)" >> $GITHUB_ENV
        shell: bash

      - name: Generate .luacheckrc
        uses: LiangYuxuan/action-generate-luacheckrc@master

      - name: Generate beta.luacheckrc
        uses: LiangYuxuan/action-generate-luacheckrc@master
        with:
          target-path: beta.luacheckrc
          ui-source-branch: beta
          interface-resources-branch: mainline_beta

      - name: Generate ptr.luacheckrc
        uses: LiangYuxuan/action-generate-luacheckrc@master
        with:
          target-path: ptr.luacheckrc
          ui-source-branch: ptr
          interface-resources-branch: mainline_ptr

      - name: Release .luacheckrc
        uses: softprops/action-gh-release@v2
        with:
          name: ${{ env.RELEASE_NAME }}
          tag_name: ${{ env.TAG_NAME }}
          body: ${{ env.RELEASE_NAME }}
          draft: false
          prerelease: false
          files: |
            .luacheckrc
            beta.luacheckrc
            ptr.luacheckrc
